.loginForm {
    border: 2px solid;
    border-color: rgb(161, 231, 231);
    margin-top: 100px;
    text-align: center;
}

.loginFormInput {
    border-radius: 4px;
}

.loginBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 50px;
}

.navbar {
    list-style-type: none;
}

.navbarList {
    display: flex;
    flex-direction: row;
}

.navbar li {
    margin: 0 20px;
}